@model List<RedditClone.Models.Post>
@{
    ViewBag.Title = "Forum";
}

<h2>title</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
        @foreach (var forum in Model)
        {
            <tr>
                <td>
                    <a asp-area="Forum" asp-controller="Forum" asp-action="ViewForum" asp-route-id="@forum.ForumId"> @forum.Title </a>
                </td>
            </tr>
        }
    </tbody>
</table>