@{
    ViewBag.Title = "Forums";
}

<h2>Forums</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
            <P>HELLO</P>
    </tbody>
</table>
