@model List<Post>
@{
    ViewBag.Title = "Forums";
}

<h2>Forums</h2>
<table class="table table-bordered table-striped">
    @foreach (var Posts in Model)
    {
        <thead>
            <tr>
                <a asp-controller="posts" asp-action="index" asp-area="Posts" asp-route-id="@posts.PostID"> @posts.Name </a>
                <th>@Posts.Date</th>
            </tr>
            <tr>
                <td>User</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@Posts.Body</th>
            </tr>
    </tbody>
    }
</table>