@{
    ViewBag.Title = "Forums";
}

<h2>Forums</h2>
<table class="table table-bordered table-striped">
    @foreach (var Posts in Model)
    {
        <thead>
        <td>@Posts.Name</td>
        </thead>
        <tbody>
            <tr>
            </tr>
    </tbody>
    }
</table>