@model List<Forum>
@{
    ViewBag.Title = "Forums";
}

<h2>Forums</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
        @foreach (var forums in Model)
        {
            <tr>
                <td>
                                <a class="text-decoration-none border border-dark text-dark" asp-controller="Forum" asp-action="Index" asp-area="Forums" asp-route-id="@forums.ForumId"> @forums.Name </a>
                </td>
            </tr>
        }
    </tbody>
</table>