@model List<forums>
@{
    ViewBag.Title = "Forums";
}

<h2>Forums</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
        @foreach (var forums in Model)
        {
            <tr>
                <td>@forums.Name</td>
            </tr>
        }
    </tbody>
</table>