@model List<ForumDbContext>;
@{
    ViewData["Title"] = "Home Page";
}

<table> 
    @foreach (Forum c in Model)
    {
            <tr>
                <td>@c.Name</td>
                <td>@c.Attack</td>
                <td>@c.Defense</td>
                <td>@c.HP</td>
            </tr>
    }
</table>
