@model List<Forum>
@{
    ViewBag.Title = "Forums";
}

<h2>Forums</h2>
<form asp-controller="Home" asp-action="Index">
    <p>
        <label>Title: <input type="text" name="SearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
        @foreach (var forums in Model)
        {
            <tr>
                <td>
                      <a class="text-decoration-none border border-dark text-dark" asp-controller="Forum" asp-action="Index" asp-area="Forums" asp-route-id="@forums.ForumId"> @forums.Name </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-sm-2">
    <div class="list-group">
        @foreach (RedditClone.Models.Post p in ViewBag.TopPosts)
        {
            <q>
                @p.Title
            </q>
            <p>
                @p.Date
            </p>
        }
    </div>
