@model List<Post> //index for viewing a user's post
@{
    ViewBag.Title = "Forum";
    Layout = "_Layout";
}

<h2>@ViewBag.User.Name</h2>
    <table class="table table-bordered table-striped">

        <tbody>
            @foreach (var forum in Model)
            {
                <tr>
                    <td>
                            <a asp-controller="Post" asp-action="Post" asp-area="Forums" asp-route-id="@forum.PostId" class="text-decoration-none text-primary"> @forum.Title </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
